<ion-header>
  <ion-navbar>
    <ion-title>Trains</ion-title>
    <ion-buttons end>
      <button class="mapButton" (click) ="toggleMap()">{{mapOption}}</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="getItems($event)" style="width:100%; height:10%"></ion-searchbar>
  <div *ngIf="showMap; else elseBlock" id="trainMap" style="width:100%; height:90%;"></div>
  <ng-template #elseBlock>
    <ion-list>
      <!--This part of code loops through the busList data structure located in home.ts and creates an ion-item for each entry-->
        <button ion-item (click)="openItem(train)" *ngFor="let train of filteredTrainList">
          <!--The name of each bus stop printed by referencing the bus.name property-->
          {{train.name}}<br>
          {{train.description}}
        </button>
    </ion-list>
  </ng-template>
</ion-content>
