.dark-theme {

  $colors: (
    primary:    #2C748E,
    secondary:  #A1DAEF,
    danger:     #f53d3d,
    light:      #fff,
    dark:       #013A4F
  );

  ion-content {
    background-color: color($colors, dark);
    color: color($colors, light);
  }

  ion-item{
    color: color($colors, light);
    /*
    height: 72px;
    left: 16px;
    right: 16px;
    top: 8px;*/
  }

  .rightAlign{
    color: color($colors, light);
    float : right;
  }

  .leftAlign{
    color: color($colors, light);
  }

  button{
    color: color($colors, light);
  }

  .toolbar-title {
    color: color($colors, light);
  }

  .header .toolbar-background {
    background-color: color($colors, dark);
  }

  .mapButton{
    color: color($colors, secondary);
    background-color: color($colors, dark);
    font-size: 18px;
    font-weight: 500;
  }

}
