.light-theme {

  $colors: (
    primary:    #2C748E,
    secondary:  #86C4FF,
    danger:     #f53d3d,
    light:      #f4f4f4,
    dark:       #125972,
    tertiary:   #A1DAEF,
  );

  ion-content {
    background-color: color($colors, tertiary);
    color: black;
  }

  ion-item{
    background-color: color($colors, secondary);
    color: black;
    /*
    height: 72px;
    left: 16px;
    right: 16px;
    top: 8px; */
  }

  h3{
    color: color($colors, light);
  }

  .rightAlign{
    color : black;
    float : right;
  }

  .leftAlign{
    color : black;
    color: color($colors, light);
  }

  button{
    color: black;
    background-color: color($colors, secondary);
  }


  .toolbar-background {
    background-color: color($colors, tertiary);
  }

  .toolbar-title {
    color: black;
  }

  .tabs-md-primary .tab-button, .tabs-md-primary .tab-button-icon {
    color: black;
    background-color: black;
  }

  .mapButton{
    color: color($colors, secondary);
    background-color: color($colors, dark);
    font-size: 18px;
    font-weight: 500;
  }
}
